:root {
  --color-orange: #fb7a54 !important;
  --color-dark-cyan: #716b96 !important;
  --color-purple: #604fb4 !important;
  --color-blue: #4f7bf5 !important;
  --color-success: #28a745 !important;
  --color-danger: #dc3545 !important;
  --color-green: #39ac31 !important;
  --color-dark: #111 !important;
  --color-white: #fff !important;
  --color-light-white: #f5f5f5 !important;
  --color-dark-white: #f0f0f3 !important;
  --color-light-gray: #c7c3e4 !important;
  --color-gray: #e5e5e5 !important;

  --box-shadow: 5px 5px 10px rgba(17, 17, 17, 0.753) !important;

  --transition: 0.2s ease-in-out !important;

  --border-radius-lg: 3rem !important;
  --border-radius-md: 1.3rem !important;
  --border-radius-sm: 0.5rem !important;
}
