.filesharing__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filesharing__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30rem;
  height: 36rem;
  margin-top: 10rem;
  background: var(--color-dark-white) !important;
  border-radius: var(--border-radius-lg) !important;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.518);

  @media (max-width: 353px) {
    width: 25rem;
  }

  @media (max-height: 752px) {
    margin-top: 8rem;
  }

  @media (max-height: 721px) {
    margin-top: 5rem;
  }

  @media (max-height: 675px) {
    margin-top: 3rem;
  }

  @media (max-height: 640px) {
    margin-top: 1rem;
  }
}

.filesharing__content-items {
  margin-top: 6rem;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filesharing__content-text {
  h1 {
    color: var(--color-dark-cyan) !important;
    font-weight: 600;

    @media (max-width: 473px) {
      font-size: 1.4rem;
    }
  }

  p {
    color: var(--color-light-gray) !important;
    margin-top: 1rem;
  }
}

.filesharing__content-button {
  display: none;
}

.filesharing__content-button-label {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background: var(--color-orange) !important;
  border-radius: var(--border-radius-md) !important;
  color: var(--color-light-white) !important;
  box-shadow: 0px 0px 5px var(--color-orange) !important;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  cursor: pointer;
  transition: var(--transition);

  svg {
    font-size: 1.5rem;

    @media (max-width: 363px) {
      font-size: 1.3rem;
    }

    @media (max-width: 308px) {
      font-size: 1.1rem;
    }
  }

  p {
    margin-top: 0.2rem;
    margin-left: 0.2rem;
  }

  &:hover {
    box-shadow: 0px 0px 10px var(--color-orange) !important;
  }

  @media (max-width: 407px) {
    padding: 0.7rem;
  }

  @media (max-width: 363px) {
    font-size: 1rem;
  }

  @media (max-width: 308px) {
    font-size: 0.8rem;
  }
}

.filesharing__fileinfo {
  margin-top: 1rem;
}

.filesharing__filename {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  width: 15rem;
  padding: 5px; /* Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.filesharing__getfile-button {
  margin-top: 7rem;
  font-size: 1.5rem;
  text-decoration: dashed underline;
  margin-top: auto;
  margin-bottom: 1rem;
}

.filesharing__content-upload {
  margin-top: 2rem;
  // width: 20rem;
  padding: 1rem 1.7rem;
  background: var(--color-success) !important;
  color: var(--color-white) !important;
  border-radius: var(--border-radius-md) !important;
  box-shadow: 0px 0px 10px var(--color-success) !important;
  font-size: 1.5rem;
  font-weight: 600;
}

.fileshading__key {
  margin-top: 1rem;
  line-height: 1.2;
  padding: 0.5rem;
  border: 1px solid var(--color-gray) !important;
  border-radius: var(--border-radius-sm !important);

  @media (max-width: 422px) {
    font-size: 0.8rem;
  }
}

.copy-button {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  border: 1px solid var(--color-gray) !important;
  cursor: pointer;

  svg {
    padding: 0;
    margin: 0;
  }
}
